@use "../vars" as vars;

.card {
  background-color: var(--clr-card);
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);

  border-radius: vars.$borderRadDefault;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .header {
    color: var(--clr-heading);
  }
}
