.flx {
  &,
  &--all {
    display: flex;
  }

  &--all,
  &--v {
    flex-direction: column;
  }

  &--all,
  &--1 {
    flex: 1;
  }

  &--c,
  &--ac {
    align-items: center;
  }

  &--c,
  &--jc {
    justify-content: center;
  }
}