:host {
  height: 60vh;
  display: flex;
  gap: 1rem;
}

.items {
  gap: 0.75rem;
}

.item {
  background-color: rgb(230, 230, 230);
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;

  p {
    margin: 0;
    margin-top: 0.2rem;
    size: 90%;
  }

  .msg {
    margin-top: 0.75rem;
  }
}